BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Attach
SortIncludes: true
PointerAlignment: Left
SpacesBeforeTrailingComments: 1
